
<div class="container mt-5 p-5 bg-dark text-white rounded-3">
      <h1 class="display-4">Introduction to Software Development</h1 class="display-4">
      <p class="lead">Helping Kellogg students live the #developerlife, since 2015</p>
      <a class="btn btn-success text-white btn-lg" href="#" role="button">Pricing and Plans</a>
    </div>
